@font-face {
  font-family: "Outfit";
  src: local("Outfit-Variable"),
    url("./assets/fonts/Outfit-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "YoungSerif";
  src: local("YoungSerif"),
    url("./assets/fonts/YoungSerif-Regular.ttf") format("truetype");
}

:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}


*{
    font-family: Outfit, sans-serif;
}

